.btn-fitMe:hover{
    color: #fff;
    background-color: #7E69BA;
    border-color: #7E69BA;
    width: 90px;
}
.btn-fitMe{
    color: #212529;
    border-color: #212529;
    width: 90px;
}

.btn-fitMe-cart:hover{
    color: #fff;
    background-color: #7E69BA;
    border-color: #7E69BA;
    width: 120px;
}
.btn-fitMe-cart{
    color: #212529;
    border-color: #212529;
    width: 120px;
}
